
/* aquí anirien els estils, exemple...:                 */

body{
  background-color: black;
  color: green;
  font: 300 16px/22px "Courier new", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

h1{
  color: darkred;
  font-size: 25px;
}
